body  {
        color: white;
        margin: 0;
        padding: 0;
}

.part1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 150px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.content1 {
    display: flex;
    justify-content: space-between;

}

.content1 .left {
    text-align: start;
    width: 300px;
    
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.content1 p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.content1 img {
    height: 250px;
    width: 450px;
}

button {
   background-color: #3882f6;
   color: white; 
   padding: 5px 30px;
   border-radius: 5px;
   font-weight: bold;

}





