
body  {
        color: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
}

.part1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding:0 150px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.content1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}

.content1 .left {
    text-align: start;
    width: 300px;
    
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.content1 p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.content1 img {
    height: 250px;
    width: 450px;
}

button {
   background-color: #3882f6;
   color: white; 
   padding: 5px 30px;
   border-radius: 5px;
   font-weight: bold;
}

.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    
}

.part2 h3 {
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
}

.part2 p {
    font-size: 24px;
    margin-top: 5px;
}

.content2 {
    display: flex;
    gap: 24px;
}

.box {
    text-align: center;
}

.content2 img {
    border-radius: 20px;
    border: 5px solid #3882f6;
    width: 200px;
    height: 200px;
}

.part3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}
.part3 p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;  
  text-align: start;
  margin-bottom: 0;
}

.part3 h3 {
    text-align: end;
    color: black;
    margin-top: 0;
    align-self: flex-end;
    padding-right: 350px;

}

.part4 {
    background-color: white;
    margin: 100px 200px;
    

}

.content4 {
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    padding:50px 150px;
    height: 30px;
    align-items: center;
}

.content4 h3 {
    margin-bottom: 0;
}

.content4 p {
    margin-top: 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 25px 0;

}








